:root {
  --color-1: #8aa93e;
  --color-1-opacity: #8aa93e66;
  --color-1-hover: #9faf76;
  --color-2: #a49a94;
}
body {
  font-family: "Poppins", sans-serif;
}
/* top section */
/* start conetent */
/* nav bar */
.mnc {
  display: none;
}
@media (max-width: 768px) {
  .mnc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 32px;
    color: var(--color-1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .mnc.down {
    transform: translate(-50%, 120px) rotate(0.5turn) scale(2);
  }
}
.top-section .container {
  display: grid;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) {
  .top-section .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .top-section .content:first-child {
    width: 100%;
    height: 60vh;
  }
}
.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  z-index: 1080;
}
@media (max-width: 1024px) {
  .nav-bar {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .nav-bar {
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0px;
    /* display: none; */
    z-index: 1080;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .nav-bar.show {
    /* display: flex; */
    top: 0px;
  }
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .nav-bar ul {
    flex-wrap: wrap;
    background-color: var(--color-1);
  }
}
.nav-bar ul li {
  width: fit-content;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-weight: 800;
  text-transform: capitalize;
  text-wrap: nowrap;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 768px) {
  .nav-bar ul li a {
    color: white;
  }
}
.nav-bar ul li:active {
  background-color: var(--color-1);
}
/* landing */
.landing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 90%;
}
@media (max-width: 768px) {
  .landing {
    height: 100%;
    margin-top: 20px;
  }
}
.landing img {
  width: 75%;
  margin: 50px 0px;
}
@media (max-width: 768px) {
  .landing img {
    margin: 20px 0px;
  }
}
.landing .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .landing .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.landing .content .search-bar {
  display: flex;
  width: 150%;
}
@media (max-width: 768px) {
  .landing .content .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.landing .content .search-bar input {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #aaa9a9;
  background-color: #e9e9e8;
}
@media (max-width: 768px) {
  .landing .content .search-bar input {
    width: 75%;
  }
}
.landing .content .search-bar input::-webkit-input-placeholder {
  color: #aaa9a9;
}
.landing .content .search-bar .search-icon {
  background-color: var(--color-1);
  padding: 17px 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.landing .content .search-bar .search-icon:hover {
  background-color: var(--color-1-hover);
  cursor: pointer;
}
.landing .content .search-bar .search-icon i {
  font-size: 24px;
}
.landing .content .pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .landing .content .pages {
    width: 100%;
    flex-wrap: wrap;
  }
}
.landing .content .pages div {
  margin: 40px 50px;
  text-align: center;
}
@media (max-width: 768px) {
  .landing .content .pages div {
    margin: 20px 14px;
    text-align: center;
    width: calc(50% - 28px);
  }
}
.landing .content .pages div i {
  font-size: 48px;
  color: var(--color-1);
}
@media (max-width: 768px) {
  .landing .content .pages div i {
    font-size: 64px;
  }
}
.landing .content .pages div a {
  font-size: 24px;
}
@media (max-width: 768px) {
  .landing .content .pages div a {
    font-size: 18px;
  }
}
/* end content */

/*start image */
.top-section .image {
  position: relative;
}
@media (max-width: 1024px) {
  .top-section .image {
    display: none;
  }
}
.top-section .image .land-image {
  height: 100%;
  width: 450px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.top-section .image .land-image .background {
  background-color: var(--color-1-opacity);
  position: absolute;
  width: inherit;
  height: inherit;
}
.top-section .image .land-image .land {
  width: inherit;
  height: inherit;
  position: absolute;
  background-image: url(../source/photos/land.jpg);
  background-position: center;
  background-size: cover;
}
.top-section .image > img {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* end image */

/* start producers */
.producers {
  background-image: url(../source/photos/land2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.producers::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-1-opacity);
}
.producers .content {
  flex-direction: column;
  z-index: 1080;
  height: 450px;
  justify-content: space-evenly;
}
.producers .container {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}
@media (max-width: 992px) {
  .producers .container {
    grid-template-columns: 1fr;
  }
}
.producers .content h2 {
  font-size: 36px;
  text-transform: capitalize;
  background-color: #fec60e;
  padding: 10px 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
@media (max-width: 768px) {
  .producers .content h2 {
    font-size: 28px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.producers .content .logos {
  width: 100%;
  flex-wrap: wrap;
}
.producers .content .logos img {
  width: 35%;
  margin: 0px 23px;
}
.producers .content button {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1);
  width: 250px;
  height: 60px;
  border: none;
  outline: none;
  background-color: white;
}
.producers .content button:hover {
  cursor: pointer;
  background-color: var(--color-1-hover);
  color: white;
}
.producers .image {
  position: relative;
}
.producers .image img {
  position: relative;
  bottom: -20px;
  right: 0px;
  width: 100%;
}
@media (max-width: 992px) {
  .producers .image img {
    display: none;
  }
}
/* end producers */
.products .container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
@media (max-width: 768px) {
  .products .container {
    grid-template-columns: 1fr;
  }
}
.products {
  position: relative;
}
@media (max-width: 768px) {
  .products {
    margin-bottom: 50px;
  }
}
.products::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-2);
}
@media (max-width: 768px) {
  .products::before {
    width: 50%;
    height: 100%;
  }
}
.products .content {
  flex-direction: column;
  z-index: 1080;
}
@media (max-width: 768px) {
  .products .content {
    height: 35vh;
  }
}
.products .content h2 {
  flex-direction: column;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  .products .content h2 {
    margin: -10px 0px 35px 0px;
  }
}
.products .content p {
  font-size: 1.1rem;
  width: 215px;
  text-align-last: center;
}
.products .content button {
  background-color: var(--color-1);
  color: white;
  border: none;
  outline: none;
  padding: 5px;
}
.products .content button:hover {
  cursor: pointer;
  background-color: var(--color-1-hover);
}
/* slider */
.products .slider {
  flex-direction: column;
  z-index: 1080;
}
@media (max-width: 768px) {
  .products .slider {
    height: 35vh;
  }
}
.products .slider button:hover {
  background-color: var(--color-2);
}
.products .slider button:active {
  background-color: var(--color-1-hover);
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper .carousel {
  width: 100%;
  display: flex;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-bottom: 15px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  min-width: 200px;
  height: 200px;
  background-color: var(--color-1);
}
@media (min-width: 768px) {
  .wrapper {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 900px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 300px;
  }
}
/* end products */

/* start client */
.clients {
  background-color: var(--color-1);
}
.clients .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-items: center;
  align-items: center;
}
.clients .container > img:first-child {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 50px;
}
.clients .container > img:last-child {
  position: absolute;
  bottom: 0px;
  right: 10%;
  width: 50px;
}
.clients {
  background-color: var(--color-1);
}
.clients .image {
  background-image: url(../source/photos/client.png);
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 80%;
  margin: 30px;
  position: relative;
  grid-column: 1 / span 1;
}
.clients .image img {
  width: 250px;
}
.clients .image::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 46%);
  position: absolute;
  top: 0px;
  right: 0px;
}
.clients .content {
  flex-direction: column;
  grid-column: 2 / span 2;
}
@media (max-width: 768px) {
  .clients .content {
    grid-column: auto;
  }
}
.clients .content h3 {
  font-size: 24px;
  background-color: white;
  padding: 15px 80px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .clients .content h3 {
    margin: 0px;
  }
}
.clients .content p {
  width: 60%;
  font-size: 18px;
  line-height: 1.6;
  text-align-last: left;
  text-align: justify;
}
@media (max-width: 768px) {
  .clients .content p {
    width: 70%;
    text-align: center;
  }
}
.clients .content button {
  border: none;
  outline: none;
  color: var(--color-1);
  background-color: white;
  padding: 10px 40px;
  text-transform: capitalize;
  margin-left: -150px;
}
@media (max-width: 768px) {
  .clients .content button {
    margin-left: 0px;
  }
}
.clients .content button:hover {
  background-color: var(--color-2);
  color: white;
  cursor: pointer;
}
.clients .content button:active {
  background-color: var(--color-1-hover);
  color: white;
  cursor: pointer;
}
/* end client */
